@model TraversalCoreProje.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<h1>Yeni Rota Oluşturma Sayfası</h1>

<form method="post">
    <div class="form-group">
        @Html.Label("Alıcı Mail Adresi")
        <input type="text" asp-for="ReceiverMail" class="form-control" />
    </div>


    <div class="form-group">
        @Html.Label("Konu başlığı")
        <input type="text" asp-for="Subject" class="form-control" />
    </div>
    <div class="form-group">
        @Html.Label("Mesaj içeriği ")
        <textarea cols="30" rows="5" class="form-control" asp-for="Body"></textarea>

    </div>

    <button class="btn btn-sm btn-outline-dark">Mail gönder</button>

</form>
